*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
}

#root{
  width: 100%;
}

ul > li {
    list-style-type: none;
}

@media screen and (min-width: 960px){
    html{
        font-size: 18px;
    }
}


